In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [10]:
train = train.loc[:, ~train.columns.str.contains('^Unnamed')]
test = test.loc[:, ~test.columns.str.contains('^Unnamed')]

In [11]:
train.head()

   Item_Weight  Item_Type  Item_Price  Outlet_Size  Items_Sold
0         9.30          4    249.8092            1   3735.1380
1         5.92         14     48.2692            1    443.4228
2        17.50         10    141.6180            1   2097.2700
3        19.20          6    182.0950            2    732.3800
4         8.93          9     53.8614            0    994.7052

In [12]:
test.head()

   Item_Weight              Item_Type  Item_Price Outlet_Size
0         9.30                  Dairy    249.8092      Medium
1         5.92            Soft Drinks     48.2692      Medium
2        17.50                   Meat    141.6180      Medium
3        19.20  Fruits and Vegetables    182.0950       Small
4         8.93              Household     53.8614        High

In [15]:
#Import library:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#New variable for outlet
var_mod = ['Item_Type','Outlet_Size']
le = LabelEncoder()
for i in var_mod:
    train[i] = le.fit_transform(train[i])
    
for i in var_mod:
    test[i] = le.fit_transform(test[i])

In [16]:
train.head()

   Item_Weight  Item_Type  Item_Price  Outlet_Size  Items_Sold
0         9.30          4    249.8092            1   3735.1380
1         5.92         14     48.2692            1    443.4228
2        17.50         10    141.6180            1   2097.2700
3        19.20          6    182.0950            2    732.3800
4         8.93          9     53.8614            0    994.7052

In [17]:
test.head()

   Item_Weight  Item_Type  Item_Price  Outlet_Size
0         9.30          4    249.8092            1
1         5.92         14     48.2692            1
2        17.50         10    141.6180            1
3        19.20          6    182.0950            2
4         8.93          9     53.8614            0

In [ ]:

#Define target and ID columns:
target = 'Items_Sold'
IDcol = ['Item_Identifier','Outlet_Identifier']
from sklearn import metrics

def modelfit(alg, dtrain, dtest, predictors, target, IDcol, filename):
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain[target])
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    
    print(dtrain_predictions)

    #Perform cross-validation:
    #cv_score = cross_validation.cross_val_score(alg, dtrain[predictors],(dtrain[target]) , cv=20, scoring='neg_mean_squared_error')
    #cv_score = np.sqrt(np.abs(cv_score))
    
    #Print model report:
    print("\nModel Report")
    print("RMSE : %.4g" % np.sqrt(metrics.mean_squared_error((dtrain[target]).values, dtrain_predictions)))
    #print("CV Score : Mean - %.4g | Std - %.4g | Min - %.4g | Max - %.4g" % (np.mean(cv_score),np.std(cv_score),np.min(cv_score),np.max(cv_score)))
    
    #Predict on testing data:
    #dtest[target] = alg.predict(dtest[predictors])
    tmp = alg.predict(dtest[predictors])
    print(tmp)
    
    #Export submission file:
   # IDcol.append(target)
   # submission = pd.DataFrame({ x: dtest[x] for x in IDcol})
   # submission.to_csv(filename, index=False)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
DT = DecisionTreeRegressor(max_depth=15, min_samples_leaf=100)

predictors = train.columns.drop(['Items_Sold'])
print(predictors)
modelfit(DT, train, test, predictors, target, IDcol, 'DT.csv')

#coef3 = pd.Series(DT.feature_importances_, predictors).sort_values(ascending=False)
#coef3.plot(kind='bar', title='Feature Importances')

In [18]:
train.head()

   Item_Weight  Item_Type  Item_Price  Outlet_Size  Items_Sold
0         9.30          4    249.8092            1   3735.1380
1         5.92         14     48.2692            1    443.4228
2        17.50         10    141.6180            1   2097.2700
3        19.20          6    182.0950            2    732.3800
4         8.93          9     53.8614            0    994.7052

In [19]:
from sklearn.tree import DecisionTreeRegressor
DT = DecisionTreeRegressor(max_depth=15, min_samples_leaf=100)

predictors = train.columns.drop(['Items_Sold'])
target = 'Items_Sold'
DT.fit(train[predictors], train[target])

dtrain_predictions = DT.predict(test.loc[2:2])

print(dtrain_predictions)

[2520.85388986]

In [21]:
import pickle
filename = 'sale_prediction_model.sav'
pickle.dump(DT, open(filename, 'wb'))

In [ ]:
import pickle
filename = 'sale_prediction_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))

print(result)